http:
  middlewares:
    addprefix-sample:
      addPrefix:
        prefix: "/sample"
    mid-basicauth:
      basicAuth:
        users:
          - 'admin:$apr1$XxFLiwsi$B7m.2OMSRO9cKk0wRslzw0'
          - '{{ traefik_admin }}:$apr1$kPzYD8LP$DIRllupFtAoFNTCQkEhvd.'
        # usersFile = "/shared/.htpasswd" # be sure to mount the volume through docker-compose.yml
        realm: Traefik2 Basic Auth
    mid-rate-limit:
      rateLimit:
        average: 100
        burst: 50
    default-headers:
      headers:
        hostsProxyHeaders:
          - X-Forwarded-Host
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        frameDeny: true
        referrerPolicy: "same-origin"
        sslRedirect: false
        stsIncludeSubdomains: true
        stsPreload: true
    mid-secure-headers:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
        accessControlMaxAge: 100
        hostsProxyHeaders:
          - X-Forwarded-Host
        # HSTS configuration
        sslRedirect: true
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true
        # overwritten by customFrameOptionsValue
        frameDeny: true
        contentTypeNosniff: true
        browserXssFilter: true
        # sslForceHost = true # add sslHost and all of the
        # sslHost = "example.com"
        referrerPolicy: same-origin
        # Setting contentSecurityPolicy is more secure but it can break things. Proper auth will reduce the risk.
        # the below line also breaks some apps due to 'none' - sonarr, radarr, etc.
        # contentSecurityPolicy = "frame-ancestors '*.example.com:*';object-src 'none';script-src 'none';"
        featurePolicy: "camera 'none'; geolocation 'none'; microphone 'none'; payment 'none'; usb 'none'; vr 'none';"
        customResponseHeaders:
          X-Robots-Tag: 'none,noarchive,nosnippet,notranslate,noimageindex,'
          server: ''
