http:
  routers:
{% if use_svc_gitlab %}
    gitlab:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/gitlab`)"
      middlewares:
        - default-headers
      service: gitlab
      tls: {}
{% endif %}
{% if use_svc_nexus %}
    nexus:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/nexus`)"
      service: nexus
      tls: {}
{% endif %}
{% if use_svc_jira %}
    jira:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/jira`)"
      service: jira
      tls: {}
{% endif %}
{% if use_svc_argocd %}
    argocd:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/argocd`)"
      service: argocd
      tls: {}
{% endif %}
{% if use_svc_grafana %}
    grafana:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/grafana`)"
      service: grafana
      tls: {}
{% endif %}
{% if use_svc_jaeger %}
    jaeger:
      entryPoints:
      - web
      - websecure
      #middlewares:
      #- mid-basicauth@file
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/jaeger`)"
      service: jaeger
      tls: {}
{% endif %}
  services:
{% if use_svc_argocd %}
    argocd:
      loadBalancer:
        servers:
          - url: "{{ trf_argocd_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_grafana %}
    grafana:
      loadBalancer:
        servers:
          - url: "{{ trf_grafana_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_jaeger %}
    jaeger:
      loadBalancer:
        servers:
          - url: "{{ trf_jaeger_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_gitlab %}
    gitlab:
      loadBalancer:
        servers:
          - url: "{{ trf_gitlab_url }}"
{% endif %}
{% if use_svc_nexus %}
    nexus:
      loadBalancer:
        servers:
          - url: "{{ trf_nexus_url }}"
{% endif %}
{% if use_svc_jira %}
    jira:
      loadBalancer:
        servers:
          - url: "{{ trf_jira_url }}"
{% endif %}
