http:
  routers:
{% if use_trf_argocd %}
    argocd:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/argocd`)"
      service: argocd-svc
      tls: {}
{% endif %}
{% if use_trf_grafana %}
    grafana:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/grafana`)"
      service: grafana-svc
      tls: {}
{% endif %}
{% if use_trf_jaeger %}
    jaeger:
      entryPoints:
      - web
      - websecure
      #middlewares:
      #- mid-basicauth@file
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/jaeger`)"
      service: jaeger-svc
      tls: {}
{% endif %}
  services:
{% if use_trf_argocd %}
    argocd-svc:
      loadBalancer:
        servers:
          - url: "{{ trf_argocd_url }}"
{% endif %}
{% if use_trf_grafana %}
    grafana-svc:
      loadBalancer:
        servers:
          - url: "{{ trf_grafana_url }}"
{% endif %}
{% if use_trf_jaeger %}
    jaeger-svc:
      loadBalancer:
        servers:
          - url: "{{ trf_jaeger_url }}"
{% endif %}
