http:
  routers:
{% if use_svc_stobatch %}
    stobatch:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/stobatch`)"
      middlewares:
        - batch-headers
      service: stobatch
{% endif %}
{% if use_svc_gitlab %}
    gitlab:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/gitlab`)"
      middlewares:
        - default-headers
      service: gitlab
{% endif %}
{% if use_svc_nexus %}
    nexus:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/nexus`)"
      service: nexus
{% endif %}
{% if use_svc_jira %}
    jira:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/jira`)"
      service: jira
{% endif %}
{% if use_svc_argocd %}
    argocd:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/argocd`)"
      middlewares:
        - argocd-headers
      service: argocd
#      tls: {}
{% endif %}
{% if use_svc_grafana %}
    grafana:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/grafana`)"
      middlewares:
        - grafana-headers
      service: grafana
#      tls: {}
{% endif %}
{% if use_svc_prometheus %}
    prometheus:
      entryPoints:
      - web
      - websecure
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/prometheus`)"
      service: prometheus
#      tls: {}
{% endif %}
{% if use_svc_jaeger %}
    jaeger:
      entryPoints:
      - web
      - websecure
      # middlewares:
      # - mid-basicauth@file
      rule: "Host(`{{ traefik_domain }}`) && PathPrefix(`/jaeger`)"
      service: jaeger
#      tls: {}
{% endif %}
  services:
{% if use_svc_argocd %}
    argocd:
      loadbalancer:
        servers:
          - url: "{{ trf_argocd_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_grafana %}
    grafana:
      loadbalancer:
        servers:
          - url: "{{ trf_grafana_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_prometheus %}
    prometheus:
      loadbalancer:
        servers:
          - url: "{{ trf_prometheus_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_jaeger %}
    jaeger:
      loadbalancer:
        servers:
          - url: "{{ trf_jaeger_url }}"
        passHostHeader: true
{% endif %}
{% if use_svc_stobatch %}
    stobatch:
      loadbalancer:
        servers:
          - url: "{{ trf_stobatch_url }}"
{% endif %}
{% if use_svc_gitlab %}
    gitlab:
      loadbalancer:
        servers:
          - url: "{{ trf_gitlab_url }}"
{% endif %}
{% if use_svc_nexus %}
    nexus:
      loadbalancer:
        servers:
          - url: "{{ trf_nexus_url }}"
{% endif %}
{% if use_svc_jira %}
    jira:
      loadbalancer:
        servers:
          - url: "{{ trf_jira_url }}"
{% endif %}
